HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Visual Studio Code ###
.vscode/

### Runtime data ###
data/
*.mv.db
*.trace.db

### .NET ###
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/
artifacts/
